@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
    --orange: #ff9505;
    --orangeRed: #ec4e20;
    --gray: #353531;
    --lightGrey: #eee;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: var(--gray);
}

.py-5 {
    padding: 130px 0 !important;
}

h2::after {
    content: "";
    display: block;
    margin: 30px auto;
    width: 100px;
    height: 5px;
    background: var(--orange);
}

h2 {
    font-weight: 700;
}

/*******************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
                N A V
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************/


.navbar {
    background: rgba(53,53,49,.9)!important;
}

.navbar-brand {
    color: var(--orange) !important;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.navbar-brand:hover {
    color: var(--orangeRed) !important;
    transition: .4s ease;
}

.navbar .navbar-nav .nav-link {
    color: var(--white);
    text-transform: uppercase;
    padding-left: 30px;
}

.navbar .navbar-nav .nav-link:hover {
    color: var(--orange);
    transition: .4s ease;
}

.active {
    color: var(--orangeRed) !important;
}

.navbar-toggler {
    background: var(--orange);
}

/*******************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
                    J U M B O T R O N
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************/

.header {
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(./img/header.jpg);
    background-position: center;
    background-clip: cover;
    border-radius: 0 !important;
    padding: 200px 0;
    margin-bottom: 0;
}

.btn-warning {
    background: var(--orange);
    border: var(--orange);
}

.btn-warning:hover {
    background: var(--orangeRed);
    border: var(--orange);
}

/*******************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
                N U M B E R S
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************/

#numbers {
    background: var(--gray);
    color: var(--white);
    text-align: center;
}

#numbers i {
    color: var(--orange);
    font-size: 5rem;
    margin-bottom: 30px;
}

#numbers h3 {
    color: var(--lightGrey);
    font-size: 2.2rem;
}

#numbers h4 {
    color: var(--orange);
    font-size: 1.2rem;
}

/*******************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
                P O R T F O L I O
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************/

#portfolio .card {
    position: relative;
    margin-bottom: 2em;
}

#portfolio .card-text {
    padding: 30px;
}


#portfolio .corner-text {
    position: absolute;
    top: 0;
    right: 0;
    background: 0;
    background: var(--orange);
    color: var(--white);
}


#portfolio .corner-text p {
    margin-bottom: 0;
    padding: 10px;
    font-weight: 700;
}

#portfolio img {
    transition: transform 3s ease-in-out;
}
#portfolio .holder {
    overflow: hidden;
}

#portfolio img:hover {
    transform: scale(1.3);
}

/*******************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
                P R O J E C T S
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************/

#projects {
    background: var(--lightGrey);
}


/*******************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
            T E A M
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************/

#team {
    text-align: center;
}

#team img {
    border-radius: 50%;
    margin-bottom: 30px;
}


/*******************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
                    F OO T E R
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************
********************************************************/

footer {
    background: var(--orange);
}

footer a{
   color: var(--gray);
   font-size: 2.5rem;
   margin: 10px;
}

footer h2::after {
    background: var(--gray);
}


@media (max-width: 786px) {
    .header {
        padding: 150px 20px;

    }
    .header h1{
        font-size: 3rem;
    }
    h2 {
        font-size: 3rem !important;
    }
}